<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PrinterGoroda*****</h1>
    <li>
        <ol><a href="#">Наши услуги</a></ol>
        <ol><a href="#">Цены</a></ol>
        <ol><a href="#">Отзывы</a></ol>
        <ol><a href="#">Контакты</a></ol>
        <ol><a href="#">Еще </a></ol>
    </li>
    <li>
        <ol><a href="#">Нестандарные размеры печати</a></ol>
        <ol><a href="#">Доставка</a></ol>
        <ol><a href="#">взрывные котята</a></ol>
        <ol><a href="#">фотограф</a></ol>
    </li>
    <h1>Сервис печати фотографии</h1>
    <a href="#">Связатся</a>
    <br>
    <br>

    <h1>Предоставляемы услуги</h1>
    <img src="wdqwqdwdq" alt="A">
    <span>Фотокарточка</span><br>
    <a href="#">Цена</a>   <a href="#">Заказать</a>
    <br><br>
    <h1>Порядок работы</h1>
    <span>Кратко и понятно расскажем, как мы работаем с нашими клиентами.</span>
    <br>

    <h1>Преймущества</h1>
    Удобно




</body>
</html>
